<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lmm.shardingjdbc.dao.OrderItemDao">
  <resultMap id="BaseResultMap" type="com.lmm.shardingjdbc.model.OrderItem">
    <id column="item_id" jdbcType="DECIMAL" property="itemId" />
    <result column="order_id" jdbcType="DECIMAL" property="orderId" />
    <result column="user_id" jdbcType="DECIMAL" property="userId" />
  </resultMap>
  <sql id="Base_Column_List">
    item_id, order_id, user_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_order_item
    where item_id = #{itemId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_order_item
    where item_id = #{itemId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.lmm.shardingjdbc.model.OrderItem">
    insert into t_order_item (item_id, order_id, user_id
      )
    values (#{itemId,jdbcType=DECIMAL}, #{orderId,jdbcType=DECIMAL}, #{userId,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lmm.shardingjdbc.model.OrderItem">
    insert into t_order_item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="itemId != null">
        item_id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="itemId != null">
        #{itemId,jdbcType=DECIMAL},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=DECIMAL},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lmm.shardingjdbc.model.OrderItem">
    update t_order_item
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=DECIMAL},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=DECIMAL},
      </if>
    </set>
    where item_id = #{itemId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lmm.shardingjdbc.model.OrderItem">
    update t_order_item
    set order_id = #{orderId,jdbcType=DECIMAL},
      user_id = #{userId,jdbcType=DECIMAL}
    where item_id = #{itemId,jdbcType=DECIMAL}
  </update>
</mapper>